@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.bg{
    width: 100%;
    z-index: -1;
    position: absolute;
}
.container{
    width: 1200px;
    margin: 0 auto;
}
header .container{
    display: flex;
    justify-content: space-between;
    height: 75px;
    align-items: center;
}
nav{
    display: flex;
    justify-content: space-between;
    width: 350px;
    font-family: "Poppins", "sans-serif";

}
a{
    display: block;
    width: max-content;
    color: whitesmoke;
    text-decoration: none;
}
.btn{
    padding: 8px 16px;
    background: orangered;
    border-radius: 5px;
    font-family: "Poppins", "sans-serif";

}
.w_btn{
    background: #0096d9;
}
.sponsors{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 35px;
}
.sponsors img{
    width: 162px;
    opacity: .7;
    transition: opacity .3s linear;
}
.sponsors img:hover{
    opacity: 1;
}
.features{
    margin-top: 50px;
    position: relative;
}
.title_block{
    font-family: "Poppins", "sans-serif";
    font-size: 32px;
    text-align: center;
}
.title_block:before{
    content: "";
    width: 150px;
    height: 5px;
    background: #000;
    display: block;
    position: absolute;
    left: 50%;
    top: -15px;
    background: linear-gradient(#fe8464, #fe6e9a);
    transform: translateX(-50%);
}
.cart{
    width: 350px;
    padding: 25px;
    color: black;
    display: block;
    box-shadow: 0 0 5px 0 #00000059;
    border-radius: 15px;
    border: 2px solid #fff;
}
.cart_img{
    position: relative;
    margin: 0 auto;
    display: block;
    width: max-content;
}
.img_bg{
    position: absolute;
    left: -16px;
}
.img_face{
    position: relative;
    top: 18px;

}
.cart h2{
    margin-top: 120px;
    text-align: center;
    font-family: "Poppins", "sans-serif";
    font-size: 26px;
}
.cart:hover .img_bg{
    transform: rotateX(14deg);
}